.container {
    display: grid;
    grid-template-columns: 50px 50px;
  }
.d1{
    background-color: cornflowerblue;
}
.d2{
    background-color: lightcoral;
}
.d3{
    background-color: aqua;
}
.d4{
    background-color: pink;
}
.d5{
    background-color: lightgreen;
}